@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: Montserrat;
    background-color: #e8e8e8;
    color: rgb(88, 87, 87);
    margin: 0;
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;
}

.card {
    width: 190px;
    max-width: 190px;
    background: white;
    padding: .4em;
    border-radius: 6px;
  }
  
  .card-image {
    background-color: rgb(236, 236, 236);
    width: 100%;
    height: 130px;
    border-radius: 6px 6px 0 0;
  }
  
  .card-image:hover {
    transform: scale(0.98);
  }
  
  .category {
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    color: rgb(63, 121, 230);
    padding: 10px 7px 0;
  }
  
  .category:hover {
    cursor: pointer;
  }
  
  .heading {
    font-weight: 600;
    color: rgb(88, 87, 87);
    padding: 7px;
  }
  
  .heading:hover {
    cursor: pointer;
  }
  
  .author {
    color: gray;
    font-weight: 400;
    font-size: 11px;
    padding-top: 20px;
  }
  
  .name {
    font-weight: 600;
  }
  
  .name:hover {
    cursor: pointer;
  }

/*Inline Flexbox*/

.container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

.box {
    flex: 1;
    margin: 15px;
    border: 2px solid #ccc;
}

/*Text Formats*/

.centered {
    text-align: center;
}

.header {
  font-size: 2rem;
  font-weight: 900;
  text-transform: uppercase;
}

/*Fade Text*/

.Text-Fade {
    animation: fadeIn 3s;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .appear {
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  
  .appear.inview {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }

/*Expiremental Header*/

  .containers {
    text-align: center;
}
.containers p {
    display: inline-block;
}
.containers p span {
    display: block;
    text-align: left
}