@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #272D34;
    color: #AAB3B9;
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 110vh;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1.5s;
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}

.cards {
    display: flex;
}

.cards:nth-child(2) {
    transition-delay: 200ms ;
}
 
.cards:nth-child(3) {
    transition-delay: 400ms ;
}

.cards:nth-child(4) {
    transition-delay: 600ms ;
}

.cardtext {
    background-color: #1F252A;
    margin: 15px;
    padding: 50px;
    border-radius: 20px;
}