@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    background-color: #272D34;
    color: #AAB3B9;
    font-family: "DM Sans", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 75vh;
}


/* Styles for motion */ 

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translate(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0px);
    transform: translate(0%);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}


/* Styles for copyright */ 

.container {
    display: flex;
}
  
.wrapper {
    display: flex;
    align-self: center;
    padding: 15px;
}

.text {
    margin-left: 5px;
}

.text-sub {
    font-size: small;
}


/* Cards */

* {
    box-sizing: border-box;
}
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
}
  
  .row {
    margin: 0 -5px;
}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
}
  
  .card {
    background-color: #1F252A;
    padding: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
}

a {
    color: #AAB3B9;
}