body {
    background-color: #3e3e42;
  }
  
  h1 {
    margin: 50px;
    color: whitesmoke;
    font-family:'Dennis Sans', sans-serif;
    text-align:center;
  }

  p {
    margin: 50px;
    color: whitesmoke;
    font-family:'Dennis Sans', sans-serif;
  }

  div {
    background-color: #252526;
  }

  ul {
    list-style-type: none;
    margin: 50;
    overflow: hidden;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 40px;
    font-family: 'Dennis Sans', sans-serif;
    text-decoration: none;
  }
  
  li a:hover {
    color: whitesmoke;
  }

  .Showcase {
    background-color: #252526;
    color: white;
    margin: 15px;
    width:30%;
    display:inline-block; 
    font-family: 'Dennis Sans', sans-serif;
    border-radius: 20px;
  }
